tmp-debug/
tmp-i386/
tmp-ppc/
.aqbanking.compiled-debug
.aqbanking.compiled-i386
.gettext.compiled-debug
.gettext.compiled-i386
.gmp.compiled-debug
.gmp.compiled-i386
.gnutls.compiled-debug
.gnutls.compiled-i386
.gwen.compiled-debug
.gwen.compiled-i386
.libgcrypt.compiled-debug
.libgcrypt.compiled-i386
.libgpg-error.compiled-debug
.libgpg-error.compiled-i386
.pkg-config.compiled-debug
.pkg-config.compiled-i386
